*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header starts here */

/* header-top starts here */

.header-top {
    background: #ECF3FC;
    padding: 10px 0px;
}

.header-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left a {
    color: black;
    font-size: 1.2rem;
    display: block;
}

.top-left i {
    margin-right: 5px;
}

.top-middle {
    display: flex;
    gap: 0.5rem;
}

.top-middle li {
    background: #17335C;
    padding: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.top-middle li i {
    color: white;
}

.top-right {
    display: flex;
}

.label {
    margin-right: 1rem;
}



select#select-box {
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    padding: 3px;
    color: brown;
}

.hour p {
    font-size: 1.1rem;
}
.top-left a:hover {
    text-decoration: underline;
}

.top-middle li:hover {
    background: #F2C119;
}

@media (max-width:575px) {
    .header-top-wrapper {
        display: flex;
     flex-direction: column;
    
    }
    
.top-left  {
   margin-bottom: 1rem;
}
.top-middle  {
  margin-bottom: 1rem;
}
    
}
/* header-top ends here */

/* header-middle starts here */

.header-middle {
    background: white;
    padding: 20px 0px;
}

.header-middle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-left a {
    font-size: 1.3rem;
    color: black;
    display: block;
}

.middle-left i {
    margin-right: 5px;
    color: cadetblue;
}

.middle-right {
    display: flex;
}

.middle-right-left {
    margin-right: 1.5rem;
}

.middle-right-left a {
    font-size: 1.7rem;
    color: #183661;
    display: block;
}

.middle-right-right a {
    background: #183661;
    color: white;
    padding: 5px 25px;
    font-size: 1rem;
    border-radius: 20px;
    display: block;
    transition: 0.5s;
}

.middle-middle {
    margin-right: 50px;
    cursor: pointer;
}
.middle-left a:hover {
    text-decoration: 0.5px underline;
}

.middle-right-right a:hover {
    background: #F2C119;
}
@media (max-width:575px) {
    .header-middle-wrapper {
        display: flex;
        flex-direction: column;
    }
    .middle-left  {
       margin-bottom: 1rem;
    }
    
.middle-middle {
    margin-bottom: 1rem;
   margin-left: 4rem;
   
}
    
    
}

/* header-middle end here */

/* header-bottom starts here */

.header-bottom {
    background: #183661;
}

.header-bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-left nav ul {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.bottom-left nav ul li {
    padding: 30px 10px;
    transition: 0.5s;
}

.bottom-left nav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bottom-left nav ul li:hover {
    background: #F2C119;
}



.bottom-right-right {
    position: absolute;
    right: 8px;
}

input#srarch {
    padding: 10px;
    border-radius: 20px;
    padding-right: 121px;
    color: #aaa;
    font-size: 16px;
}

button.btn i {
    color: #aaa;
    padding-right: 5px;
    background: white;
}

@media (max-width:575px) {
    .header-bottom-wrapper {
      display: flex;
      flex-direction: column;
      padding: 30px 0px;
      align-items:stretch;
    

     
}
    .bottom-left nav ul {
        display: flex;
       flex-direction: column;
       justify-content: space-around;
     
    }
    .bottom-left nav ul li {
      width: 100%;
      margin-bottom: 0.2rem;
      background-color: black;
      padding: 10px 10px;
    }
    .bottom-left nav ul li a {
       font-size: 14px;
       text-align: center;
       display: block;
      }
      .bottom-right {
        display: flex;
      flex-direction: column;
      margin-top: 1rem;
      align-items: stretch;
    
    
    }
    input#srarch {
     
      width: 100%;
     
    }
  
}

/* header-bottom ends here */

/* header section ends here */

/* banner section starts here */

#banner{
    background: url("images/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}
.banner-wrapper {
    display: flex;
    justify-content: space-between;
}

.banner-left h4 {
    font-size: 76px;
    color: #183661;
    margin-bottom: 40px;
}

.banner-left h1 {
    font-size: 82px;
    color: #F2C119;
    margin-bottom: 40px;
}

.banner-left h3 {
    font-size: 35px;
    color: #2A2A2C;
    margin-bottom: 40px;
}
.banner-left a {
    padding: 20px 60px;
    background: blue;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 30px;
    display: inline-block;
    transition: 0.5s;
}
.banner-left a:hover {
    background: #F2C119;
}

.banner-right img {
    width: 100%;
    display: block;
}

@media (max-width:575px) {
    #banner{
        background: url("images/banner.jpg");
      
        background-repeat: no-repeat;
       
        padding-top: 0px;
    }
    .banner-wrapper {
        display: flex;
       flex-direction: column;
       padding-top: 80px;
       
    }
    .banner-left h4 {
        font-size: 48px;
        color: #183661;
        margin-bottom: 15px;
    }
    .banner-left h1 {
        font-size: 50px;
        color: #F2C119;
        margin-bottom: 15px;
    }
    .banner-left h3 {
        font-size: 25px;
      
    }
}

/* banner section ends here */

/* gallery section starts here */
section#gallery {
    overflow: hidden;
}


.single-gallery {
    float: left;
    width: 16.66%;
    text-align: center;
    background: #F2C119;
    padding: 50px 0px;
}

.single-gallery h6 {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

@media (max-width:575px) {

    .single-gallery {
    float: none;
   width: 100%;
}
}
/* gallery section ends here */

/* features section starts here */

#features{
    background: url("images/product_bg.jpg");
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    padding-bottom: 100px;
}
.container h2 {
    margin-top: 70px;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 6px solid #F2C119;
    padding-bottom: 7px;
}

.features-wrapper {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
}

.products-img {
    background: #F2F2F2;
    padding: 65px 15px;
}
.products-content {
    margin: 20px 0px;
}
.see {
    text-align: center;
    margin-top: 40px;
}

.see a {
    background: #183661;
    color: white;
    padding: 12px 40px;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 38px;
    transition: 0.5s;
}
.see span {
    text-transform: uppercase;
}
.see a:hover {
    background: #F2C119;
}

@media (max-width:575px) {
    .container h2 {
        margin-top: 70px;
        font-size: 30px;
        font-weight: 600;
        border-bottom: 5px solid #F2C119;
        padding-bottom: 7px;
    }
    .features-wrapper {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
       
    }
    
.products-img {
    background: #F2F2F2;
    padding: 55px 30px;
    width: 60%;
    margin: 0 auto;
}
    
}

/* features section ends here */

/* fashion section starts here */

#fashion{
    background: url("images/fashion.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 383px;
}

@media (max-width:575px) {
    #fashion{
        background: url("images/fashion.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 102px;
    }
    
}

/* fashion section ends here */

/* latest section starts here */

.latest-wrapper {
    margin-top: 50px;
}

.latest-div {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.latest-left img {
    display: block;
}

.latest-right {
    margin-top: 25px;
}
.span2 {
    float: right;
    border-bottom: 1.5px solid #F2C119;
    padding-bottom: 4px;
    font-size: 1.3rem;
}

.span1 {
    display: inline;
    border-bottom: 1.5px solid #F2C119;
    padding-bottom: 4px;
}

.date {
    margin-top: 15px;
}



span.like {
    padding-right: 15px;
}

p.latest-para {
    font-size: 26px;
    font-weight: 600;
}

.p-right-content {
    margin-top: 25px;
}

.p-right-content p {
    font-size: 1.3rem;
    line-height: 35px;
}

@media (max-width:575px) {
    .latest-div {
        display: flex;
       flex-direction: column;
    }
    .latest-left img {
        width: 100%;
    }
    
.latest-right {
    margin-top: -10px;
}
}
/* latest section ends here */

/* news later starts here */

.news-wrapper {
    display: flex;
    align-items: center;
}

.news-left {
    width: 43%;
    margin-right: 6%;
}

.news-right {
    width: 51%;
    position: relative;
}

section#news-later {
    margin-top: 100px;
    margin-bottom: 100px;
}

.news-left h1 {
    font-size: 30px;
}

input.mail {
    width: 100%;
    border: 1px solid #aaa;
    padding: 18px;
    border-radius: 25px;
    font-size: 1.1rem;
    color: #aaa;
}
button.subs {
    position: absolute;
    bottom: -41px;
    right: 2px;
    background: #183661;
    padding: 10px 43px;
    border-radius: 25px;
    color: white;
    font-size: 1.1rem;
    transition: 0.5s;
}

button.subs:hover {
    background: #F2C119;
}

@media (max-width:575px) {
    .news-wrapper {
        display: flex;
        flex-direction: column;
    }
    .news-left {
        width: 100%;
        text-align: center;
       
    }
    .news-left h1 {
        font-size: 33px;
        margin-bottom: 10px;
    }
    .news-right {
        width: 100%;
       
    }
    input.mail {
         padding: 15px;
}
    button.subs {
        position: relative;
        margin-top: -10px;
    }
        
 }


/* news later ends here */

/* money back starts here */

section#money-back {
    position: relative;
    z-index: 1;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.money-wrapper {
    display: flex;
    justify-content: space-around;
}

.money-div {
    width: 30%;
    margin-right: 5%;
    text-align: center;
    background: white;
    border-radius: 15px;
    box-shadow: 2px 0px 2px 5px black, -2px 0px 2px 5px red, 0px 2px 2px 5px green, 0px -2px 2px 9px blue;
    padding: 35px 40px;
    overflow: auto;
}

.money-div:last-child {
    margin-right: 0%;
}

.money-div p {
    padding-top: 5px;
    font-size: 1.2rem;
}

@media (max-width:575px) {

    section#money-back {
        position: relative;
        z-index: 1;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 18%);
    }
    .money-wrapper {
        display: flex;
       flex-direction: column;
      
    }
    .money-div {
        width: 100%;
        margin-top: -32px;
    
    }
}
/* money back section ends here */

/* footer section starts here */

footer.foot {
    background: #183661;
    overflow: hidden;
    position: relative;
}



.foot-wrapper {
    padding: 150px 0px 100px;
    display: flex;
    column-gap: 30px;
}

.foot-div {
    width: 25%;
}

.foot-div h3 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 1.3rem;
}
.foot-div p {
    font-size: 1.3rem;
    color: white;
    word-spacing: 2px;
    line-height: 33px;
}


@media (max-width:575px) {
    .foot-wrapper {
        padding: 150px 0px 50px;
        display: flex;
        column-gap: 30px;
    }
    .foot-wrapper {
     flex-direction: column;
        display: flex;
  }
  .foot-div {
    width: 100%;
}
.foot-div p {
   margin-bottom: 1rem;
}
}

/* footer section ends here */

/* copy right section starts here */

section#copyright {
    background: white;
    padding: 20px 0px;
}

.copy-wrapper {
    text-align: center;
}

.copy-wrapper p {
    font-size: 1.3rem;
}

/* copyright section ends here */